
{% extends 'user/profile.html' %}
{% block dashboardContent %}
<form class="needs-validation" novalidate="" method="post" action="{% url 'add_menu'  %}" enctype="multipart/form-data">
    {% csrf_token %}
        <input type="hidden" name="id" value="{{menuItem.id}}" >
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="name">Dish Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Dosa" value="{{menuItem.name}}" required="">
          </div>
          <div class="col-md-6 mb-3">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="eg 50 " value="{{menuItem.price}}" required="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="custom-file">
              <label class="" for="inputGroupFile04">Choose Image of food</label>
              <br>
              <input type="file" class="" name="image" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
        
            </div>
          </div>
         </div>

         <hr class="mb-4">
        <button class="btn px-4 btn-primary " type="submit">Save</button>
        <a href="{% url 'view_menu' %}" class="btn px-4 btn-link ">Cancel</a>
      </form>
{% endblock dashboardContent %}