{% extends 'user/profile.html' %}
{% load cart_tags %}
{% block dashboardContent %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">order Id</th>
      <th scope="col">Item</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  {% for order in orders %}
  
      <tr>
        <td>{{order.order.id }}</td>
        <td>{{order.item.name }}</td>
        <td>{{order.quantity }}</td>
        <td>{{order.item.price }}</td>
        <td>{{order.order.delivered | yesno:"Delivered,Pending" }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock dashboardContent %}