{% extends 'user/profile.html' %}
{% load cart_tags %}
{% block dashboardContent %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  {{data.current}}
  {% for item in current %}
      <tr>
        <th scope="row">{{ forloop.counter}}</th>
        <td>{{item.item.name }}</td>
        <td>{{item.quantity }}</td>
        <td>{{item.item.price| floatformat:2}}</td>
        <td>{{item.item.price|multiply:item.quantity| floatformat:2 }}</td>
        <td>{{item.delivered | yesno:"Delivered,Pending" }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock dashboardContent %}