
{% extends 'user/profile.html' %}
{% block dashboardContent %}
<form class="needs-validation" novalidate="" method="post" action="{% url 'restaurant_details'  %}">
{% csrf_token %}
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Hotel xyz" value="{{rest.name}}" required="">
          </div>
          <div class="col-md-6 mb-3">
            <label for="location">Location</label>
            <input type="text" class="form-control" name="location" id="location" placeholder="eg. pala" value="{{rest.location}}" required="">
          </div>
        </div>

  
        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="1234 Main St" name="address1" required="" value="{{rest.address1}}">
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="mb-3">
          <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
          <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment or suite"  value="{{rest.address2}}">
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Country</label>
            <select class="custom-select d-block w-100" id="country" required="" name="country">
              <option selected>India</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">State</label>
            <select class="custom-select d-block w-100" id="state" required="" name="state">
              <option value="">Choose...</option>
              <option selected>Kerala</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" placeholder="" required="" name="zip"  value="{{rest.zip}}">
            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div>
   
         <hr class="mb-4">
        <button class="btn px-4 btn-primary " type="submit">Save</button>
      </form>
{% endblock dashboardContent %}