{% extends 'base.html' %}
{% block content %}
<div class="album py-5">
    
{% if menuItems is  None %}
    <div class="text-center"> {{errorQuote}}</div>
{% endif %}
    <div class="container"> 
        <div class="row"> 

        {% for item in menuItems %} 
        <div class="col-md-4">
            <div class="card mb-3 shadow-sm">
                <div class="d-block img-fixed" style="background:url('{{item.image.url}}');background-size:cover">&nbsp;</div>
            <div class="card-body">
                <p class="card-text">{{item.name}}</p>

                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-dark">View</button>
                    <a href="{% url 'addItemToCart' %}?id={{item.id}}" class="btn btn-sm btn-warning">Add To Cart</a>
                </div>
                </div>
            </div>
            </div>
        </div> 
        {% endfor %}

        </div>
    </div>
</div>
{% endblock content %}