.no-round{
    border-radius: 0 !important;
}
.badge{
    border-radius: 3px;
}
.max-900{
    max-width: 950px !important;
    margin: auto;
}
.max-4{
    max-width: 33.333333%;
}
/* static */
.img-fixed{
    height: 250px;
}