<div class="list-group mb-2">
  <div class="list-group-item d-flex justify-content-between align-items-center">
   {{user.username}}
   {% if user.profile.role in "rider" or "owner"   %}
     <span class="badge badge-primary badge-pill">{{user.profile.role}}</span>
   {% endif %}
  </div>
</div>


{% if  user.profile.role == 'owner' %}
<div class="list-group">
  <a href="{% url 'restaurant_details'%}" class="list-group-item list-group-item-action">
   Restaurent Details
  </a>
  <a href="{% url 'profile'%}" class="list-group-item list-group-item-action">Add menu</a>
  <a href="{% url 'profile'%}" class="list-group-item list-group-item-action">Edit Menu</a>
  <a href="{% url 'profile'%}" class="list-group-item list-group-item-action">Total Revinue</a>
  <a href="{% url 'profile'%}" class="list-group-item list-group-item-action">Order History</a>
</div>
{% elif user.profile.role == 'rider'%}
{% else %}

<div class="list-group">
  <a href="{% url 'profile'%}" class="list-group-item list-group-item-action">
   Account settings
  </a>
  <a href="{% url 'profile'%}" class="list-group-item list-group-item-action">My Orders</a>
  <a href="{% url 'profile'%}" class="list-group-item list-group-item-action">Order History</a>
</div>
{% endif  %}